<%= render 'partials/meny' %>
<article id="profile" class="col-md-10 col-md-offset-2">
  <!--<img src="#"/>-->
  <h1>Profile for <%= current_user.email %></h1>
    <div id="main">
      <%= form_for do |f| %>
        <%= f.text_field :username %>
        <%= f.submit 'Save username' %>
      <% end %>

      <div>
        <h1>Number of posts on your profile: </h1>
      </div>

<!--#%= render "partials/footer" %>-->
  </div>
</article>