<%= render 'partials/meny' %>
<article class="col-md-10 col-lg-10">

      <!-- information field-->
      <div class="row" id="infofield">
        <nav id="xl-infonav" class="hidden-xs hidden-sm">
        	<h3 class="page">Posts</h3>
        	<div id="searchfield"><img id="searchicon" src="/assets/searchicon.png">
        	<h3 id="search">Search</h3></div>
        </nav>
          
        <nav id="xs-infonav" class="hidden-md hidden-lg">
          <img id="burgermeny" src="" alt="≡">
          <h3 class="page">Posts</h3>

          <div id="searchfield">
          <!-- need to make a real searchfield (example in index.html.erb) -->
            <img id="searchicon" src="/assets/searchiconxs.png">
            <h3 id="search">Search</h3>
          </div>
        </nav>
      </div>

      <!-- main content -->    
      <div class="row" id="main">
    	  <p id="notice"><%= notice %></p>

        <div class="col-md-13" id="postContainer">
          <div id="textContainer">

            <p id="postHeader"><%= @post.head %></p>

            <p id="postContent"><%= @post.content %></p>

            <% if @post.image.exists? %>
              <%= image_tag @post.image.url(:large) %>
            <% end %>

          </div>
          <p id="author">
            <strong>Author: </strong>
          <%= @post.user.username %>
          </p>
        </div>

        <div class="col-md-1" id="navigationContainer">
    			<%= link_to 'Edit', edit_post_path(@post) %> |
    			<%= link_to 'Back', posts_path %>
        </div>
    	</div>
    <%= render 'partials/footer' %>
  </div> 
</article>