<!-- 
= Developers: Petter Johansson (full-stack), Liza Pettersson (front-end).
= Project Name: ErasmusWeb
= Date created: 08/12 - 2016
= Purpose: To inform about the ERASMUS+ school project and about Organic Food Production in Schools for Sustainability and Healthy Future Generations
-->

<!-- Application-specific code -->

<!DOCTYPE html>
<html>
  <head>
    <title>ERASMUS+</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <!-- Devise code for configuration and setup -->
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
    <%= yield %>
  </body>
</html>
