<!-- 
= Developers: Petter Johansson (full-stack), Liza Pettersson (front-end).
= Project Name: ErasmusWeb
= Date created: 08/12 - 2016 (Github repo initiated)
= Purpose: To inform about the ERASMUS+ school project and about Organic Food Production in Schools for Sustainability and Healthy Future Generations

=============================================================================================================
Application-specific code, this code will apply across the whole application. It doesn't take any specific input except
some user made link interaction.

-->

<!DOCTYPE html>
<html>
    <head>
        <title>ERASMUS+</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="noteCont">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>

        <!-- Wil "ask" user to log in/authenticate and if already authenticated it will display current user and a log out button -->
        
        <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            <p><%= current_user.email %></p>
        <% else %>
            <div id="signupinout" class="hidden-xs hidden-sm">
                <div id="signup"><%= link_to 'Sign Up', new_user_registration_path %></div>
                <div id="signin"><%= link_to 'Sign In', new_user_session_path %></div>
            </div>
        <% end %> 
        <%= yield %>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- The rest of the unique page information is transferred to it's file, also the ending of this page-->