<!-- 
= Developers: Petter Johansson (full-stack), Liza Pettersson (front-end).
= Project Name: ErasmusWeb
= Date created: 08/12 - 2016 (Github repo initiated)
= Purpose: To inform about the ERASMUS+ school project and about Organic Food Production in Schools for Sustainability and Healthy Future Generations
-->

<!-- Application-specific code, that are spilt up and displayed on every page -->

<!DOCTYPE html>
<html>
    <head>
        <title>ERASMUS+</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        
        <!-- Wil "ask" user to log in/authenticate and if already authenticated it will display current user and a log out button -->
        <% if user_signed_in? %>
            <p>Sign out</p>
            <%= current_user %>
        <% else %>
            <%= link_to "Sign Up", new_user_registration_path %>
            <%= link_to "Sign In", new_user_session_path %>
        <% end %>
        
        <%= yield %>

        <!-- Navigation menu -->
        <!--<div id="meny">
            <img src="/assets/logga.png" id="logo"/>
            <nav>
                <ul class="nav">
                    <li><%#= link_to "Home", root_path %></li>
                    <li><%#= link_to "Countries", menu_countries_path %></li>
                    <li><%#= link_to "About", menu_about_path %></li>
                    <li><%#= link_to "ERASMUS Social",  posts_path %></li>
                </ul>
            </nav>
        </div>-->

        <!-- The rest of the unique page information is transferred to it's file, also the ending of this page-->