<!-- Navigation menu -->
<aside class="hidden-xs hidden-sm col-md-2 col-lg-2">
  <%= image_tag('logga', size: '230x223') %>
    <ul class="menulist">
        <li class="publicmenu">
          <%= image_tag('houseicon', :class => 'menyImage') %> <%= link_to 'Start', menu_index_path, :class => 'menyLink' %>
        </li>
        <li class="publicmenu">
          <%= image_tag('posticon', :class => 'menyImage') %> <%= link_to 'Posts', posts_path, :class => 'menyLink' %>
        </li>

        <li class="publicmenu">
          <%= image_tag('earthicon', :class => 'menyImage') %> <%= link_to 'Countries', menu_countries_path, :class => 'menyLink' %>
        </li>

        <li class="publicmenu">
          <%= image_tag('eventicon', :class => 'menyImage')%>
        </li>

        <li class="publicmenu">
					<%= image_tag('abouticon', :class => 'menyImage')%> <%= link_to 'About', menu_about_path, :class => 'menyLink' %>
        </li>  

        <!-- Menuoptions for a logged in user -->

        <% if user_signed_in? %>
        	<div id="inloggedmenu">
	        	<p id="mail"><%= image_tag('profileex') %></p>
            <li class="privatemenu">
              <%= image_tag('houseicon', :class => 'menyImage') %> <%= link_to 'Start', menu_index_path %>
            </li>
            <li class="privatemenu">
              <%= image_tag('posticon', :class => 'menyImage') %> <%= link_to 'Posts', posts_path %>
            </li>

            <li class="privatemenu">
              <%= image_tag('earthicon', :class => 'menyImage') %> <%= link_to 'Countries', menu_countries_path %>
            </li>

            <li class="privatemenu">
              <%= image_tag('eventicon', :class => 'menyImage')%>
            </li>

            <li class="privatemenu">
              <%= image_tag('abouticon', :class => 'menyImage')%> <%= link_to 'About', menu_about_path %>
            </li>
          </div>
        <% end %>          
    </ul>
</aside>