<!-- Navigation menu -->
<aside class="hidden-xs hidden-sm col-md-2 col-lg-2">
  <%= image_tag('logga', size: '230x223') %>
    <ul class="menulist">
        <li class="publicmenu">
          <%= image_tag('houseicon', :class => 'menyImage') %> <%= link_to 'Start', menu_index_path %>
        </li>
        <li class="publicmenu">
          <%= image_tag('posticon', :class => 'menyImage') %> <%= link_to 'Posts', posts_path %>
        </li>

        <li class="publicmenu">
          <%= image_tag('earthicon', :class => 'menyImage') %> <%= link_to 'Countries', menu_countries_path %>
        </li>

        <li class="publicmenu">
          <%= image_tag('eventicon', :class => 'menyImage')%>
        </li>

        <li class="publicmenu">
					<%= image_tag('abouticon', :class => 'menyImage')%> <%= link_to 'About', menu_about_path %>
        </li>  

        <!-- Menuoptions for a logged in user -->

        <% if user_signed_in? %>
        	<div id="inloggedmenu">
	        	<p id="mail"><img id="profilepic" src="assets/profileex.png"><%= current_user.email %></p>
	        	 <li class="privatemenu">
	        		<%= link_to menu_profile_path do %>
	        		<img class="icons" src="assets/houseicon.png">Home
	        		<% end %>
	        	</li>
	        	<li class="privatemenu"> 
	        		<%= link_to menu_profile_path do %>
	        		<img class="icons" src="assets/lettericon.png">Inbox
	        		<% end %>
	        	</li>
	        	<li class="privatemenu">
	        		<%= link_to menu_profile_path do %>
	        		<img class="icons" src="assets/flagicon.png">Notifications
	        		<% end %>
	        	</li>
	        	<li class="privatemenu">
	        		<%= link_to menu_profile_path do %>
	        		<img class="icons" src="assets/eventicon.png">My event
	        		<% end %>
	        	</li>
	        	<li class="privatemenu">
	        		<%= link_to menu_profile_path do %>
	        		<img class="icons" src="assets/wheelicon.png">Settings
	        		<% end %>
	        	</li>
	        </div>	
        <% end %>          
    </ul>
</aside>