<div>
    <nav class="col-lg-2">
        <h1>Erasmus Website</h1>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", static_displ_about_path %></li>
            <li><%= link_to "Projects", static_displ_projects_path %></li>
            <li><%= link_to "Countries", static_displ_countries_path %></li>
            <li><%= link_to "Blog", static_displ_blog_path %></li>
        </ul>
    </nav>
</div>