<div>
    <nav>
        <h1>Erasmus Website</h1>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About",  landing_path %></li>
            <li><%= link_to "Projects", landing_path %></li>
            <li><%= link_to "Countries", landing_path %></li>
            <li><%= link_to "Blog", landing_path %></li>
        </ul>
    </nav>
</div>